{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center">
        <h2>Fauna Powered CuriousCat</h2>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Receive questions from people and share what you want with the world!</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="{{ url_for('register') }}" class="btn btn-success">GET STARTED</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}