{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center">
        <h2>CuriousCat Clone with Python and Fauna</h2>
      </div>
    </div>
    <div class="col-lg-8 text-center">
      <h5>Receive questions from people and share what you want with the world!</h5>
      <img width="100%" src="{{ url_for('static', filename='people-talking.jpg') }}">
      <a href="{{ url_for('register') }}" class="btn btn-success">GET STARTED</a>
    </div>
  </div>
</div>
{% endblock %}