{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center p-4" style="margin-bottom: 0px">
        <h2>Fauna Powered CuriousCat</h2>
        <h5>All Profile Questions</h5>
      </div>
    </div>

    <a href="{{ url_for('dashboard') }}"><button type="button" class="btn btn-warning m-3">Back to Dashboard</button></a>
    {% for i in questions %}
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          {{ i.data.user_asking }} - {{ i.data.date|faunatimefilter }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ i.data.question }}</p>
          <a href="{{ url_for('reply_question', question_id=i.ref.id()) }}" class="btn btn-success">
            {% if i.data.resolved %}
            Edit Response
            {% else %}
            Reply Question
            {% endif %}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}