{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center p-4">
        <h2>CuriousCat Clone with Python and Fauna</h2>
        <h5>Reply Question</h5>
      </div>
    </div>

    <div class="col-lg-8">
      <form method="POST" class="text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p class="text-{{ category }}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="form-group">
          <label>Question asked by <strong>{{ question.data.user_asking }} at {{ question.data.date|faunatimefilter }}</strong></label>
          <textarea class="form-control" rows="5" readonly>{{ question.data.question }}</textarea>
        </div>
        <div class="form-group">
          <label>Your Reply</label>
          <textarea class="form-control" rows="5" name="reply" placeholder="Enter reply to the question" required>{{ question.data.answer }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">
          {% if question.data.resolved %}
          Edit Response
          {% else %}
          Reply Question
          {% endif %}
        </button>
        <a href="{{ url_for('dashboard') }}"><button type="button" class="btn btn-warning">Back to Dashboard</button></a>
      </form>
    </div>
  </div>
</div>
{% endblock %}